body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u691 {
  position:absolute;
  left:100px;
  top:50px;
  width:430px;
  height:880px;
}
#u692 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  position:absolute;
  left:127px;
  top:156px;
  width:375px;
  height:667px;
}
#u694 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:19px;
}
#u695 {
  position:absolute;
  left:127px;
  top:157px;
  width:373px;
  height:19px;
}
#u696 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u697 {
  position:absolute;
  left:277px;
  top:186px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  position:absolute;
  left:139px;
  top:186px;
  width:29px;
  height:22px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u701 {
  position:absolute;
  left:157px;
  top:253px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u703 {
  position:absolute;
  left:270px;
  top:281px;
  width:200px;
  height:1px;
}
#u704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u705 {
  position:absolute;
  left:157px;
  top:309px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u707 {
  position:absolute;
  left:270px;
  top:337px;
  width:200px;
  height:1px;
}
#u708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u709 {
  position:absolute;
  left:157px;
  top:367px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u711 {
  position:absolute;
  left:270px;
  top:395px;
  width:200px;
  height:1px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u713 {
  position:absolute;
  left:165px;
  top:762px;
  width:300px;
  height:46px;
  font-size:18px;
}
#u714 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
