body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1072px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u24 {
  position:absolute;
  left:100px;
  top:50px;
  width:430px;
  height:880px;
}
#u25 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:127px;
  top:156px;
  width:375px;
  height:667px;
}
#u27 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:19px;
}
#u28 {
  position:absolute;
  left:127px;
  top:157px;
  width:373px;
  height:19px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u30 {
  position:absolute;
  left:277px;
  top:186px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:139px;
  top:186px;
  width:29px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u34 {
  position:absolute;
  left:144px;
  top:240px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u36 {
  position:absolute;
  left:287px;
  top:272px;
  width:203px;
  height:1px;
  color:#999999;
}
#u37 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u38 {
  position:absolute;
  left:165px;
  top:762px;
  width:300px;
  height:46px;
  font-size:18px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u41 {
  position:absolute;
  left:642px;
  top:50px;
  width:430px;
  height:880px;
}
#u42 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:669px;
  top:156px;
  width:375px;
  height:667px;
}
#u44 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:19px;
}
#u45 {
  position:absolute;
  left:669px;
  top:157px;
  width:373px;
  height:19px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u47 {
  position:absolute;
  left:819px;
  top:186px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:681px;
  top:186px;
  width:29px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u51 {
  position:absolute;
  left:686px;
  top:240px;
  width:163px;
  height:22px;
  font-size:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u53 {
  position:absolute;
  left:829px;
  top:272px;
  width:203px;
  height:1px;
  color:#999999;
}
#u54 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u55 {
  position:absolute;
  left:686px;
  top:292px;
  width:163px;
  height:22px;
  font-size:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u57 {
  position:absolute;
  left:829px;
  top:324px;
  width:203px;
  height:1px;
  color:#999999;
}
#u58 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u59 {
  position:absolute;
  left:686px;
  top:354px;
  width:163px;
  height:22px;
  font-size:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u61 {
  position:absolute;
  left:829px;
  top:386px;
  width:203px;
  height:1px;
  color:#999999;
}
#u62 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u63 {
  position:absolute;
  left:686px;
  top:416px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u65 {
  position:absolute;
  left:829px;
  top:448px;
  width:203px;
  height:1px;
  color:#999999;
}
#u66 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u67 {
  position:absolute;
  left:707px;
  top:762px;
  width:300px;
  height:46px;
  font-size:18px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u69 {
  position:absolute;
  left:686px;
  top:488px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u71 {
  position:absolute;
  left:829px;
  top:520px;
  width:203px;
  height:1px;
  color:#999999;
}
#u72 {
  position:absolute;
  left:2px;
  top:-8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u73 {
  position:absolute;
  left:962px;
  top:488px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#CCCCCC;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u75 {
  position:absolute;
  left:1017px;
  top:495px;
  width:27px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:276px;
  height:22px;
}
#u77p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:267px;
  height:2px;
}
#u77p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:278px;
  height:22px;
}
#u77p001 {
  position:absolute;
  left:250px;
  top:-9px;
  width:20px;
  height:20px;
}
#u77p001_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:32px;
  height:42px;
}
#u77.compound {
  width:0px;
  height:0px;
}
#u77 {
  position:absolute;
  left:432px;
  top:790px;
  width:265px;
  height:2px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-7px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
