body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u101 {
  position:absolute;
  left:100px;
  top:50px;
  width:430px;
  height:880px;
}
#u102 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:127px;
  top:156px;
  width:375px;
  height:667px;
}
#u104 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:19px;
}
#u105 {
  position:absolute;
  left:127px;
  top:157px;
  width:373px;
  height:19px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u107 {
  position:absolute;
  left:258px;
  top:186px;
  width:119px;
  height:22px;
  font-size:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u109 {
  position:absolute;
  left:178px;
  top:228px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:405px;
  top:228px;
  width:53px;
  height:22px;
}
#u113 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u114 {
  position:absolute;
  left:436px;
  top:228px;
  width:22px;
  height:22px;
}
#u115 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u116 {
  position:absolute;
  left:178px;
  top:265px;
  width:163px;
  height:22px;
  font-size:18px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:405px;
  top:265px;
  width:53px;
  height:22px;
}
#u120 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u121 {
  position:absolute;
  left:436px;
  top:265px;
  width:22px;
  height:22px;
}
#u122 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u123 {
  position:absolute;
  left:178px;
  top:301px;
  width:199px;
  height:22px;
  font-size:18px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:405px;
  top:301px;
  width:53px;
  height:22px;
}
#u127 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u128 {
  position:absolute;
  left:436px;
  top:301px;
  width:22px;
  height:22px;
}
#u129 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u130 {
  position:absolute;
  left:178px;
  top:338px;
  width:199px;
  height:22px;
  font-size:18px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:405px;
  top:338px;
  width:53px;
  height:22px;
}
#u134 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u135 {
  position:absolute;
  left:436px;
  top:338px;
  width:22px;
  height:22px;
}
#u136 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:139px;
  top:186px;
  width:29px;
  height:22px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
