body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:711px;
}
#u313 {
  position:absolute;
  left:100px;
  top:50px;
  width:430px;
  height:711px;
}
#u314 {
  position:absolute;
  left:2px;
  top:348px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:254px;
}
#u315 {
  position:absolute;
  left:100px;
  top:761px;
  width:430px;
  height:254px;
}
#u316 {
  position:absolute;
  left:2px;
  top:119px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:112px;
}
#u317 {
  position:absolute;
  left:100px;
  top:1015px;
  width:430px;
  height:112px;
}
#u318 {
  position:absolute;
  left:2px;
  top:48px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:866px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319 {
  position:absolute;
  left:127px;
  top:156px;
  width:375px;
  height:866px;
}
#u320 {
  position:absolute;
  left:2px;
  top:425px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:19px;
}
#u321 {
  position:absolute;
  left:127px;
  top:157px;
  width:373px;
  height:19px;
}
#u322 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u323 {
  position:absolute;
  left:258px;
  top:186px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  position:absolute;
  left:139px;
  top:186px;
  width:29px;
  height:22px;
}
#u326 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u327 {
  position:absolute;
  left:139px;
  top:239px;
  width:96px;
  height:22px;
  font-size:18px;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u329 {
  position:absolute;
  left:139px;
  top:280px;
  width:96px;
  height:22px;
  font-size:18px;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u331 {
  position:absolute;
  left:139px;
  top:321px;
  width:132px;
  height:22px;
  font-size:18px;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u333 {
  position:absolute;
  left:139px;
  top:362px;
  width:132px;
  height:22px;
  font-size:18px;
}
#u334 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u335 {
  position:absolute;
  left:139px;
  top:403px;
  width:114px;
  height:22px;
  font-size:18px;
}
#u336 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u337 {
  position:absolute;
  left:139px;
  top:444px;
  width:168px;
  height:22px;
  font-size:18px;
}
#u338 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u339 {
  position:absolute;
  left:139px;
  top:485px;
  width:114px;
  height:22px;
  font-size:18px;
}
#u340 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u341 {
  position:absolute;
  left:139px;
  top:536px;
  width:114px;
  height:22px;
  font-size:18px;
}
#u342 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u343 {
  position:absolute;
  left:139px;
  top:587px;
  width:346px;
  height:22px;
  font-size:18px;
}
#u344 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u345 {
  position:absolute;
  left:139px;
  top:625px;
  width:60px;
  height:22px;
  font-size:18px;
}
#u346 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u347 {
  position:absolute;
  left:139px;
  top:735px;
  width:114px;
  height:22px;
  font-size:18px;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u349 {
  position:absolute;
  left:139px;
  top:782px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u350 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u351 {
  position:absolute;
  left:139px;
  top:820px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u353 {
  position:absolute;
  left:139px;
  top:858px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u354 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:2px;
}
#u355 {
  position:absolute;
  left:258px;
  top:261px;
  width:226px;
  height:1px;
}
#u356 {
  position:absolute;
  left:2px;
  top:-8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u357 {
  position:absolute;
  left:165px;
  top:959px;
  width:300px;
  height:46px;
  font-size:18px;
}
#u358 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u359 {
  position:absolute;
  left:423px;
  top:235px;
  width:61px;
  height:22px;
  font-size:18px;
}
#u360 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:2px;
}
#u361 {
  position:absolute;
  left:258px;
  top:304px;
  width:226px;
  height:1px;
}
#u362 {
  position:absolute;
  left:2px;
  top:-8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u363 {
  position:absolute;
  left:423px;
  top:278px;
  width:61px;
  height:22px;
  font-size:18px;
}
#u364 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366 {
  position:absolute;
  left:431px;
  top:326px;
  width:53px;
  height:22px;
}
#u367 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u368 {
  position:absolute;
  left:462px;
  top:326px;
  width:22px;
  height:22px;
}
#u369 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  position:absolute;
  left:431px;
  top:365px;
  width:53px;
  height:22px;
}
#u372 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u373 {
  position:absolute;
  left:462px;
  top:365px;
  width:22px;
  height:22px;
}
#u374 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:2px;
}
#u375 {
  position:absolute;
  left:258px;
  top:429px;
  width:226px;
  height:1px;
}
#u376 {
  position:absolute;
  left:2px;
  top:-8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u377 {
  position:absolute;
  left:472px;
  top:403px;
  width:11px;
  height:22px;
  font-size:18px;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  position:absolute;
  left:431px;
  top:446px;
  width:53px;
  height:22px;
}
#u381 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u382 {
  position:absolute;
  left:462px;
  top:446px;
  width:22px;
  height:22px;
}
#u383 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:2px;
}
#u384 {
  position:absolute;
  left:258px;
  top:512px;
  width:226px;
  height:1px;
}
#u385 {
  position:absolute;
  left:2px;
  top:-8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u386 {
  position:absolute;
  left:472px;
  top:486px;
  width:11px;
  height:22px;
  font-size:18px;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:2px;
}
#u388 {
  position:absolute;
  left:258px;
  top:564px;
  width:226px;
  height:1px;
}
#u389 {
  position:absolute;
  left:2px;
  top:-8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u390 {
  position:absolute;
  left:453px;
  top:538px;
  width:31px;
  height:22px;
  font-size:18px;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u392 {
  position:absolute;
  left:143px;
  top:689px;
  width:71px;
  height:20px;
  font-size:17px;
}
#u393 {
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u392_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u394 {
  position:absolute;
  left:285px;
  top:689px;
  width:82px;
  height:20px;
  font-size:17px;
}
#u395 {
  position:absolute;
  left:16px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u394_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u396 {
  position:absolute;
  left:412px;
  top:689px;
  width:72px;
  height:20px;
  font-size:17px;
}
#u397 {
  position:absolute;
  left:16px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u396_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:2px;
}
#u398 {
  position:absolute;
  left:258px;
  top:759px;
  width:226px;
  height:1px;
}
#u399 {
  position:absolute;
  left:2px;
  top:-8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u400 {
  position:absolute;
  left:442px;
  top:733px;
  width:44px;
  height:22px;
  font-size:18px;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u403 {
  position:absolute;
  left:431px;
  top:780px;
  width:53px;
  height:22px;
}
#u404 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u405 {
  position:absolute;
  left:462px;
  top:780px;
  width:22px;
  height:22px;
}
#u406 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u408 {
  position:absolute;
  left:431px;
  top:819px;
  width:53px;
  height:22px;
}
#u409 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u410 {
  position:absolute;
  left:462px;
  top:819px;
  width:22px;
  height:22px;
}
#u411 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u413 {
  position:absolute;
  left:431px;
  top:854px;
  width:53px;
  height:22px;
}
#u414 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u415 {
  position:absolute;
  left:462px;
  top:854px;
  width:22px;
  height:22px;
}
#u416 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u417 {
  position:absolute;
  left:139px;
  top:657px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u418 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  position:absolute;
  left:431px;
  top:657px;
  width:53px;
  height:22px;
}
#u421 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u422 {
  position:absolute;
  left:462px;
  top:657px;
  width:22px;
  height:22px;
}
#u423 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u424 {
  position:absolute;
  left:139px;
  top:898px;
  width:199px;
  height:22px;
  font-size:18px;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  position:absolute;
  left:431px;
  top:890px;
  width:53px;
  height:22px;
}
#u428 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u429 {
  position:absolute;
  left:462px;
  top:890px;
  width:22px;
  height:22px;
}
#u430 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
